<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/article_style.css" type="text/css" />
		<title>News To Go</title>
            <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/articles.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
       
	</head>
	<body>
		<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Mongo Scraper</a>
					</div>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
							<li><a id="saved" href="/saved">Saved Articles</a></li>
						</ul>
						<form class="navbar-form navbar-left" action="/scrape" method="get">
							<button class="btn btn-danger scrape">Scrape New Articles!</button>
						</form>
				</div>
</nav>
		{{{ body }}}
	</body>
	</div>{{!--container--}}
   <footer class="page-footer grey darken-3">
      <div class="footer-copyright">
        <div class="container">
        © Author cannot claim copyright. All article data was web scraped from 
        <a class="grey-text text-lighten-4" href="https://www.politico.com/">www.politico.com</a>
        </div>
      </div>
</footer>
</html>